@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@import "tailwindcss";
@plugin "daisyui";  

@theme{
    --font-IBM: "IBM Plex Mono", sans-serif;
    
    --color-Primary: #083E5F;
    --color-Secondary: #FCF2EA;

}


/* ===== Swiper Arrow Size Reduce ===== */
.swiper-button-prev,
.swiper-button-next {
  width: 30px;
  height: 30px;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  font-size: 13px;
  font-weight: bold;
}